
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family:"Poppins",sans-serif;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


  .myborders{
    border-radius: 10% 60% 20% 90%;
    border:  2px solid black;
    background: #000;
    background-position-x: left;
  }
  